@using Fint.Web.Constants;

<div class="row">
    <div class="col-md-4">
        <h2>@Labels.Index.TableHeaders.GasTableHeader</h2>
        <table class="table" id="@Labels.Index.TableHeaders.GasTableHeader">
            <thead>
                <tr>
                    <th scope="col">@Labels.Index.ColumnHeaders.Number</th>
                    <th scope="col">@Labels.Index.ColumnHeaders.Name</th>
                    <th scope="col">@Labels.Index.ColumnHeaders.Ammount</th>
                    <th scope="col">@Labels.Index.ColumnHeaders.DayDue</th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var item in collection)
                {
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                }*@

                <tr>
                    <th scope="row">2</th>
                    <td>Gasolina</td>
                    <td>50€</td>
                    <td>@DateTime.UtcNow.Date</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>